In [5]:
#import dependencies

from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
from sklearn.utils import shuffle
import nltk

In [6]:
#read in test data
data = pd.read_csv("../Data/RedditNews.csv")

In [7]:
#preview data 
data.head()

         Date                                               News
0  2016-07-01  A 117-year-old woman in Mexico City finally re...
1  2016-07-01   IMF chief backs Athens as permanent Olympic host
2  2016-07-01  The president of France says if Brexit won, so...
3  2016-07-01  British Man Who Must Give Police 24 Hours' Not...
4  2016-07-01  100+ Nobel laureates urge Greenpeace to stop o...

In [8]:
#loop through news articles and append them to a list
news = []
for headline in data["News"]:
    if (headline in news):
        continue
    else:
        news.append(headline)

In [10]:
#convert data into dataframe
data_df = pd.DataFrame(data)

In [12]:
#create lists for sentiment analysis
all_news = data_df['News']
all_sent_values = []
all_sentiments = []

In [13]:
#import nltk sentiment analysis model
from nltk.sentiment.vader import SentimentIntensityAnalyzer
def sentiment_value(paragraph):
    analyser = SentimentIntensityAnalyzer()
    result = analyser.polarity_scores(paragraph)
    score = result['compound']
    return round(score,1)

In [14]:
#test model on a couple news samples
sample = data_df['News'][1231]
print(sample)
print('Sentiment: ')
print(sentiment_value(sample))

Chinese Cops Are Temporarily Patrolling the Streets of Rome &amp; Milan - A new experimental program put international police at Italy's tourist hubs to help the influx of Chinese travelers
Sentiment:
0.4

In [34]:
sample1 = data_df['News'][73540]
print(sample1)
print('Sentiment: ')
print(sentiment_value(sample1))

b'White House Saying Senate Doesn\'t Get to Vote About Permanent Iraq Bases because its a "Treaty" ... A Treaty with WHO - Iraq\'s U.S. Installed, Occupied, Puppet Regime?!'
Sentiment:
0.0

In [35]:
#loop through news list and apply sentiment model
for i in range(len(data_df['News'])):
    all_sent_values.append(sentiment_value(all_news[i]))

In [37]:
#assign numeric values to sentiment scores
SENTIMENT_VALUE = []
SENTIMENT = []
for i in range(len(data_df['News'])):
    sent = all_sent_values[i]
    if (sent<=1 and sent>=0.5):
        SENTIMENT.append('V.Positive')
        SENTIMENT_VALUE.append(5)
    elif (sent<0.5 and sent>0):
        SENTIMENT.append('Positive')
        SENTIMENT_VALUE.append(4)
    elif (sent==0):
        SENTIMENT.append('Neutral')
        SENTIMENT_VALUE.append(3)
    elif (sent<0 and sent>=-0.5):
        SENTIMENT.append('Negative')
        SENTIMENT_VALUE.append(2)
    else:
        SENTIMENT.append('V.Negative')
        SENTIMENT_VALUE.append(1)

In [38]:
#create columns 
data_df['SENTIMENT_VALUE'] = SENTIMENT_VALUE
data_df['SENTIMENT'] = SENTIMENT

In [39]:
#preview data
data_df.head()

,Date,News,SENTIMENT_VALUE,SENTIMENT
0,2016-07-01,A 117-year-old woman in Mexico City finally re...,1,V.Negative
1,2016-07-01,IMF chief backs Athens as permanent Olympic host,2,Negative
2,2016-07-01,"The president of France says if Brexit won, so...",5,V.Positive
3,2016-07-01,British Man Who Must Give Police 24 Hours' Not...,1,V.Negative
4,2016-07-01,100+ Nobel laureates urge Greenpeace to stop o...,2,Negative