In [1]:
#import dependencies

import pandas as pd


import nltk
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer, SnowballStemmer
from nltk.stem.porter import *

import numpy as np
np.random.seed(22)

[nltk_data] Downloading package wordnet to /Users/jrevier/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [2]:
#read in test data
data = pd.read_csv("../Data/RedditNews.csv")

In [3]:
#preview data 
data.head()

         Date                                               News
0  2016-07-01  A 117-year-old woman in Mexico City finally re...
1  2016-07-01   IMF chief backs Athens as permanent Olympic host
2  2016-07-01  The president of France says if Brexit won, so...
3  2016-07-01  British Man Who Must Give Police 24 Hours' Not...
4  2016-07-01  100+ Nobel laureates urge Greenpeace to stop o...

In [4]:
headlines = data[['News']]
headlines.head()

                                                News
0  A 117-year-old woman in Mexico City finally re...
1   IMF chief backs Athens as permanent Olympic host
2  The president of France says if Brexit won, so...
3  British Man Who Must Give Police 24 Hours' Not...
4  100+ Nobel laureates urge Greenpeace to stop o...

In [5]:
#loop through news articles and append them to a list
news = []
for headline in data["News"]:
    if (headline in news):
        continue
    else:
        news.append(headline)

In [6]:
#create lists for sentiment analysis
all_news = data['News']
all_sent_values = []
all_sentiments = []

In [7]:
from textblob import TextBlob
def textblob_sentiment(paragraph):
    try:
        return TextBlob(paragraph).sentiment
    except:
        return None

In [8]:
#test model on a couple news samples
sample = data['News'][1231]
print(sample)
print('Sentiment: ')
print(textblob_sentiment(sample))

Chinese Cops Are Temporarily Patrolling the Streets of Rome &amp; Milan - A new experimental program put international police at Italy's tourist hubs to help the influx of Chinese travelers
Sentiment:
Sentiment(polarity=0.04727272727272727, subjectivity=0.1709090909090909)

In [11]:
sample1 = data['News'][876]
print(sample1)
print('Sentiment: ')
print(textblob_sentiment(sample1))

South Korea fires warning shots after boats from North cross sea border
Sentiment:
Sentiment(polarity=0.0, subjectivity=0.0)

In [13]:
for i in range(len(data['News'])):
    all_sent_values.append(textblob_sentiment(all_news[i]))

In [19]:

SENTIMENT = []
for i in range(len(data['News'])):
    sent = all_sent_values[i]
    SENTIMENT.append(sent)

In [26]:
data['Sentiment, Subjectivity'] = SENTIMENT

In [27]:
#preview data
data.head(20)

,Date,News,SENTIMENT,"Sentiment, Subjectivity"
0,2016-07-01,A 117-year-old woman in Mexico City finally re...,"(-0.06666666666666667, 0.3666666666666667)","(-0.06666666666666667, 0.3666666666666667)"
1,2016-07-01,IMF chief backs Athens as permanent Olympic host,"(0.0, 0.0)","(0.0, 0.0)"
2,2016-07-01,"The president of France says if Brexit won, so...","(0.0, 0.0)","(0.0, 0.0)"
3,2016-07-01,British Man Who Must Give Police 24 Hours' Not...,"(0.11111111111111112, 0.3888888888888889)","(0.11111111111111112, 0.3888888888888889)"
4,2016-07-01,100+ Nobel laureates urge Greenpeace to stop o...,"(0.0, 0.0)","(0.0, 0.0)"
5,2016-07-01,Brazil: Huge spike in number of police killing...,"(0.4000000000000001, 0.9)","(0.4000000000000001, 0.9)"
6,2016-07-01,Austria's highest court annuls presidential el...,"(-0.2, 0.4)","(-0.2, 0.4)"
7,2016-07-01,"Facebook wins privacy case, can track any Belg...","(0.25, 0.15000000000000002)","(0.25, 0.15000000000000002)"
8,2016-07-01,Switzerland denies Muslim girls citizenship af...,"(0.0, 0.0)","(0.0, 0.0)"
9,2016-07-01,China kills millions of innocent meditators fo...,"(0.5, 0.7)","(0.5, 0.7)"
10,2016-07-01,France Cracks Down on Factory Farms - A viral ...,"(-0.1277777777777778, 0.34444444444444444)","(-0.1277777777777778, 0.34444444444444444)"
11,2016-07-01,Abbas PLO Faction Calls Killer of 13-Year-Old ...,"(0.0, 0.0)","(0.0, 0.0)"
12,2016-07-01,Taiwanese warship accidentally fires missile t...,"(0.0, 0.0)","(0.0, 0.0)"
13,2016-07-01,"Iran celebrates American Human Rights Week, mo...","(0.0, 0.05)","(0.0, 0.05)"
14,2016-07-01,U.N. panel moves to curb bias against L.G.B.T....,"(0.0, 0.0)","(0.0, 0.0)"
15,2016-07-01,"The United States has placed Myanmar, Uzbekist...","(-0.5, 0.55)","(-0.5, 0.55)"
16,2016-07-01,S&amp;P revises European Union credit rating t...,"(0.0, 0.0)","(0.0, 0.0)"
17,2016-07-01,India gets $1 billion loan from World Bank for...,"(0.0, 0.0)","(0.0, 0.0)"
18,2016-07-01,U.S. sailors detained by Iran spoke too much u...,"(0.2, 0.2)","(0.2, 0.2)"
19,2016-07-01,Mass fish kill in Vietnam solved as Taiwan ste...,"(0.0, 0.0)","(0.0, 0.0)"

In [30]:
all_data = pd.read_csv('../Data/Combined_News_DJIA.csv')
all_data.head()

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,2008-08-08,0,"b""Georgia 'downs two Russian warplanes' as cou...",b'BREAKING: Musharraf to be impeached.',b'Russia Today: Columns of troops roll into So...,b'Russian tanks are moving towards the capital...,"b""Afghan children raped with 'impunity,' U.N. ...",b'150 Russian tanks have entered South Ossetia...,"b""Breaking: Georgia invades South Ossetia, Rus...","b""The 'enemy combatent' trials are nothing but...",...,b'Georgia Invades South Ossetia - if Russia ge...,b'Al-Qaeda Faces Islamist Backlash',"b'Condoleezza Rice: ""The US would not act to p...",b'This is a busy day: The European Union has ...,"b""Georgia will withdraw 1,000 soldiers from Ir...",b'Why the Pentagon Thinks Attacking Iran is a ...,b'Caucasus in crisis: Georgia invades South Os...,b'Indian shoe manufactory - And again in a se...,b'Visitors Suffering from Mental Illnesses Ban...,"b""No Help for Mexico's Kidnapping Surge"""
1,2008-08-11,1,b'Why wont America and Nato help us? If they w...,b'Bush puts foot down on Georgian conflict',"b""Jewish Georgian minister: Thanks to Israeli ...",b'Georgian army flees in disarray as Russians ...,"b""Olympic opening ceremony fireworks 'faked'""",b'What were the Mossad with fraudulent New Zea...,b'Russia angered by Israeli military sale to G...,b'An American citizen living in S.Ossetia blam...,...,b'Israel and the US behind the Georgian aggres...,"b'""Do not believe TV, neither Russian nor Geor...",b'Riots are still going on in Montreal (Canada...,b'China to overtake US as largest manufacturer',b'War in South Ossetia [PICS]',b'Israeli Physicians Group Condemns State Tort...,b' Russia has just beaten the United States ov...,b'Perhaps *the* question about the Georgia - R...,b'Russia is so much better at war',"b""So this is what it's come to: trading sex fo..."
2,2008-08-12,0,b'Remember that adorable 9-year-old who sang a...,"b""Russia 'ends Georgia operation'""","b'""If we had no sexual harassment we would hav...","b""Al-Qa'eda is losing support in Iraq because ...",b'Ceasefire in Georgia: Putin Outmaneuvers the...,b'Why Microsoft and Intel tried to kill the XO...,b'Stratfor: The Russo-Georgian War and the Bal...,"b""I'm Trying to Get a Sense of This Whole Geor...",...,b'U.S. troops still in Georgia (did you know t...,b'Why Russias response to Georgia was right',"b'Gorbachev accuses U.S. of making a ""serious ...","b'Russia, Georgia, and NATO: Cold War Two'",b'Remember that adorable 62-year-old who led y...,b'War in Georgia: The Israeli connection',b'All signs point to the US encouraging Georgi...,b'Christopher King argues that the US and NATO...,b'America: The New Mexico?',"b""BBC NEWS | Asia-Pacific | Extinction 'by man..."
3,2008-08-13,0,b' U.S. refuses Israel weapons to attack Iran:...,"b""When the president ordered to attack Tskhinv...",b' Israel clears troops who killed Reuters cam...,b'Britain\'s policy of being tough on drugs is...,b'Body of 14 year old found in trunk; Latest (...,b'China has moved 10 *million* quake survivors...,"b""Bush announces Operation Get All Up In Russi...",b'Russian forces sink Georgian ships ',...,b'Elephants extinct by 2020?',b'US humanitarian missions soon in Georgia - i...,"b""Georgia's DDOS came from US sources""","b'Russian convoy heads into Georgia, violating...",b'Israeli defence minister: US against strike ...,b'Gorbachev: We Had No Choice',b'Witness: Russian forces head towards Tbilisi...,b' Quarter of Russians blame U.S. for conflict...,b'Georgian president says US military will ta...,b'2006: Nobel laureate Aleksander Solzhenitsyn...
4,2008-08-14,1,b'All the experts admit that we should legalis...,b'War in South Osetia - 89 pictures made by a ...,b'Swedish wrestler Ara Abrahamian throws away ...,b'Russia exaggerated the death toll in South O...,b'Missile That Killed 9 Inside Pakistan May Ha...,"b""Rushdie Condemns Random House's Refusal to P...",b'Poland and US agree to missle defense deal. ...,"b'Will the Russians conquer Tblisi? Bet on it,...",...,b'Bank analyst forecast Georgian crisis 2 days...,"b""Georgia confict could set back Russia's US r...",b'War in the Caucasus is as much the product o...,"b'""Non-media"" photos of South Ossetia/Georgia ...",b'Georgian TV reporter shot by Russian sniper ...,b'Saudi Arabia: Mother moves to block child ma...,b'Taliban wages war on humanitarian aid workers',"b'Russia: World ""can forget about"" Georgia\'s...",b'Darfur rebels accuse Sudan of mounting major...,b'Philippines : Peace Advocate say Muslims nee...

In [31]:
# Loop through the columns containing headlines and apply `sentiment_value` to each headline, to retrieve sentiment score
# Assign that data to a new column

for x in range(1,26): # for each column
    col = "Top" + str(x)
    new_col = col + " sentiment_value"
    
    # for each row in column
    # get the headline, feed it into the nltk model and score
    all_data[new_col] = all_data[col].apply(textblob_sentiment)

In [32]:
all_data.head()

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16 sentiment_value,Top17 sentiment_value,Top18 sentiment_value,Top19 sentiment_value,Top20 sentiment_value,Top21 sentiment_value,Top22 sentiment_value,Top23 sentiment_value,Top24 sentiment_value,Top25 sentiment_value
0,2008-08-08,0,"b""Georgia 'downs two Russian warplanes' as cou...",b'BREAKING: Musharraf to be impeached.',b'Russia Today: Columns of troops roll into So...,b'Russian tanks are moving towards the capital...,"b""Afghan children raped with 'impunity,' U.N. ...",b'150 Russian tanks have entered South Ossetia...,"b""Breaking: Georgia invades South Ossetia, Rus...","b""The 'enemy combatent' trials are nothing but...",...,"(0.35, 0.55)","(0.0, 0.0)","(-0.1, 0.1)","(0.07878787878787878, 0.2515151515151515)","(0.0, 0.0)","(-0.6999999999999998, 0.6666666666666666)","(0.0, 0.0)","(0.0, 0.0)","(-0.1, 0.2)","(0.0, 0.0)"
1,2008-08-11,1,b'Why wont America and Nato help us? If they w...,b'Bush puts foot down on Georgian conflict',"b""Jewish Georgian minister: Thanks to Israeli ...",b'Georgian army flees in disarray as Russians ...,"b""Olympic opening ceremony fireworks 'faked'""",b'What were the Mossad with fraudulent New Zea...,b'Russia angered by Israeli military sale to G...,b'An American citizen living in S.Ossetia blam...,...,"(-0.4, 0.7)","(0.25, 0.25)","(0.0, 0.0)","(0.0, 0.0)","(0.0, 0.0)","(0.0, 0.0)","(0.0, 0.0)","(0.0, 0.0)","(0.5, 0.5)","(0.0, 0.0)"
2,2008-08-12,0,b'Remember that adorable 9-year-old who sang a...,"b""Russia 'ends Georgia operation'""","b'""If we had no sexual harassment we would hav...","b""Al-Qa'eda is losing support in Iraq because ...",b'Ceasefire in Georgia: Putin Outmaneuvers the...,b'Why Microsoft and Intel tried to kill the XO...,b'Stratfor: The Russo-Georgian War and the Bal...,"b""I'm Trying to Get a Sense of This Whole Geor...",...,"(0.25, 0.3333333333333333)","(0.2857142857142857, 0.5357142857142857)","(-0.3333333333333333, 0.6666666666666666)","(-0.6, 1.0)","(0.0, 1.0)","(0.0, 0.0)","(0.0, 0.0)","(-0.2, 0.35)","(0.13636363636363635, 0.45454545454545453)","(0.0, 0.0)"
3,2008-08-13,0,b' U.S. refuses Israel weapons to attack Iran:...,"b""When the president ordered to attack Tskhinv...",b' Israel clears troops who killed Reuters cam...,b'Britain\'s policy of being tough on drugs is...,b'Body of 14 year old found in trunk; Latest (...,b'China has moved 10 *million* quake survivors...,"b""Bush announces Operation Get All Up In Russi...",b'Russian forces sink Georgian ships ',...,"(-0.4, 0.6)","(0.0, 0.0)","(0.0, 0.0)","(0.0, 0.0)","(0.0, 0.0)","(0.0, 0.0)","(0.0, 0.0)","(0.0, 0.0)","(-0.1, 0.1)","(0.0, 0.0)"
4,2008-08-14,1,b'All the experts admit that we should legalis...,b'War in South Osetia - 89 pictures made by a ...,b'Swedish wrestler Ara Abrahamian throws away ...,b'Russia exaggerated the death toll in South O...,b'Missile That Killed 9 Inside Pakistan May Ha...,"b""Rushdie Condemns Random House's Refusal to P...",b'Poland and US agree to missle defense deal. ...,"b'Will the Russians conquer Tblisi? Bet on it,...",...,"(0.1, 0.3)","(0.0, 0.0)","(0.06666666666666667, 0.06666666666666667)","(0.0, 0.0)","(0.06818181818181818, 0.25)","(0.0, 0.0)","(0.0, 0.0)","(0.0, 0.0)","(0.0625, 0.5)","(0.0, 0.0)"